@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
  
}

@font-face {
    font-family: 'Chathura-Light';
    src: url("fonts/Chathura-Light.ttf") format('truetype');
    font-weight: lighter;
}

@font-face {
    font-family: 'Chathura-Regular';
    src: url("fonts/Chathura-Regular.ttf") format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Chathura-Bold';
    src: url("fonts/Chathura-Bold.ttf") format('truetype');
    font-weight: 700;
    font-style: bold;
}

@font-face {
    font-family: 'Chathura-ExtraBold';
    src: url("fonts/Chathura-ExtraBold.ttf") format('truetype');
    font-weight: 800;
    font-style: bold;
}

@font-face {
    font-family: 'Glitching';
    src: url("fonts/GlitchingRegular.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DoctorGlitch';
    src: url("fonts/DoctorGlitch.otf") format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GlitchCode';
    src: url("fonts/GlitchCodeRegular.ttf") format('truetype');
}

.chatura-scale {
    font-size: 200%; /* Adjust the percentage to scale the font size */
  }

html {
    overflow: hidden;
}

body {
    font-family: "Chathura-Regular", Arial, Helvetica, sans-serif;
}



#progress {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto auto;
    width: 50%;
    height: 5vh;
    background-color: green;
}






.spinner {
    width: 56px;
    height: 56px;
    display: grid;
    border: 4.5px solid #0000;
    border-radius: 50%;
    border-right-color: #ffffff;
    animation: spinner-a4dj62 1s infinite linear;
 }
 
 .spinner::before,
 .spinner::after {
    content: "";
    grid-area: 1/1;
    margin: 2.2px;
    border: inherit;
    border-radius: 50%;
    animation: spinner-a4dj62 2s infinite;
 }
 
 .spinner::after {
    margin: 8.9px;
    animation-duration: 3s;
 }
 
 @keyframes spinner-a4dj62 {
    100% {
       transform: rotate(1turn);
    }
 }






.pulse {
    top: 0;
    opacity: 0;
    border: 2px solid white;
    border-radius: 50%;
    -webkit-animation: pulsate 4s ease-in-out;
    -webkit-animation-iteration-count: infinite;
    animation: pulsate 4s ease-in-out;
    animation-iteration-count: infinite;
}

.pulse2 {
    -webkit-animation-delay: 1s;
    border: 1px solid white;
    animation-delay: 1s;
}



@keyframes pulsate {
0% {
    transform: scale(1, 1);
    opacity: 0.0;
    filter: blur(0px);
}
50% {
    opacity: 1.0;
    filter: blur(1px);
}
100% {
    transform: scale(1.5, 1.5);
    opacity: 0.0;
    filter: blur(7px);
}
}



.grow {
    animation-name: button_grow;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}


@keyframes button_grow {
    0% { transform: scale(1);}
    50% { transform: scale(1.2);}
    100% { transform: scale(0);}
}






 .chatstartanim {
    -webkit-animation: chatstart 1s ease-in-out;
    -webkit-animation-iteration-count: 1;
    animation: chatstart 1s ease-in-out;
    animation-iteration-count: 1;
 }

 @keyframes chatstart {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1);
    }
    60%, 70%, 80%, 90%, 100% {
        transform: scale(1) rotate(0);
    }
    65%, 85% {
        transform: scale(1) rotate(-3deg); /* Adjust the wiggle angle */
    }
    75%, 95% {
        transform: scale(1) rotate(3deg); /* Adjust the wiggle angle */
    }
 }






 /*
    CHAT
 */ 

#chatcontent {
    scroll-behavior: smooth;
}

.chat-bg {
    background: linear-gradient(180deg, #280528 0%, #12041E 100%);
}

.chat-title {
    background: #750275;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.12);
    color: #D308D3; 
    filter: blur(0.5px); 
    font-size: 2.5rem;
    height: 3rem;
    padding: 0.5rem;
}

 .chat-header {
    border-radius: 0px 0px 5px 5px;
    border: 1px solid rgba(255, 255, 255, 0.16);
    background: linear-gradient(180deg, #450045 0%, #370137 100%);
    box-shadow: 0px 4px 4px 0px rgba(89, 89, 89, 0.25);
    height: 4.5rem;
 }

.chatmessage {
    max-width: 70%;
    width: fit-content;
}

 .chatbubble_a {
    position: relative;
    padding: 0.5rem;
    border-radius: 1rem;
    box-shadow:	0 0.125rem 0.5rem rgba(0, 0, 0, .3), 0 0.0625rem 0.125rem rgba(0, 0, 0, .2);
}

 .chatbubble_b {
    position: relative;
    padding: 0.5rem;
    border-radius: 1rem;
    box-shadow:	0 0.125rem 0.5rem rgba(0, 0, 0, .3), 0 0.0625rem 0.125rem rgba(0, 0, 0, .2);
}


.chatbubble_a::before {
	content: '';
    position: absolute;
    width: 0;
    height: 0;
    bottom: 20%;
    right: 98%;
    border: 0.75rem solid transparent;
    border-right: none;
    border-bottom-color: #fff;
    /* filter: drop-shadow(0 -0.0625rem 0.0625rem rgba(0, 0, 0, .1)); */
    z-index: 0;
}

.chatbubble_b::before {
	content: '';
    position: absolute;
    width: 0;
    height: 0;
    bottom: 20%;
    left: 98%;
    border: 0.75rem solid transparent;
    border-left: none;
    border-bottom-color: #fff;
    /* filter: drop-shadow(0 -0.0625rem 0.0625rem rgba(0, 0, 0, .1)); */
    z-index: 0;
}


.dots {
   width: 3rem;
   height: 1.25rem;
   background: radial-gradient(circle closest-side,#000000 90%,#0000) 0%   50%,
          radial-gradient(circle closest-side,#000000 90%,#0000) 50%  50%,
          radial-gradient(circle closest-side,#000000 90%,#0000) 100% 50%;
   background-size: calc(100%/3) 6px;
   background-repeat: no-repeat;
   animation: dots-7ar3yq 1s infinite linear;
}

@keyframes dots-7ar3yq {
   20% {
      background-position: 0%   0%, 50%  50%,100%  50%;
   }

   40% {
      background-position: 0% 100%, 50%   0%,100%  50%;
   }

   60% {
      background-position: 0%  50%, 50% 100%,100%   0%;
   }

   80% {
      background-position: 0%  50%, 50%  50%,100% 100%;
   }
}



/* 
.video {
    object-fit: cover;
} */






.stack {
    display: grid;
    grid-template-columns: 1fr;
  }
  
  .stack span {
    grid-row-start: 1;
    grid-column-start: 1;
    --stack-height: calc(100% / var(--stacks) - 1px);
    --inverse-index: calc(calc(var(--stacks) - 1) - var(--index));
    --clip-top: calc(var(--stack-height) * var(--index));
    --clip-bottom: calc(var(--stack-height) * var(--inverse-index));
    clip-path: inset(var(--clip-top) 0 var(--clip-bottom) 0);
    animation: stack 640ms cubic-bezier(.46,.29,0,1.24) 1 backwards calc(var(--index) * 120ms), glitch 5s ease infinite 2s alternate-reverse;
  }
  
  .stack span:nth-child(odd) { --glitch-translate: 8px; }
  .stack span:nth-child(even) { --glitch-translate: -8px; }
  
  @keyframes stack {
    0% {
      opacity: 0;
      transform: translateX(-50%);
      text-shadow: -2px 3px 0 red, 2px -3px 0 blue;
    };
    60% {
      opacity: 0.5;
      transform: translateX(50%);
    }
    80% {
      transform: none;
      opacity: 1;
      text-shadow: 2px -3px 0 red, -2px 3px 0 blue;
    }
    100% {
      text-shadow: none;
    }
  }
  
  @keyframes glitch {
    0% {
      text-shadow: -2px 3px 0 rgb(172, 172, 17rgb(105, 105, 105)2px -3px 0 rgb(119, 119, 119));
      transform: translate(var(--glitch-translate));
      filter: blur(0px);
    }
    2% {
      text-shadow: 2px -3px 0 rgb(95, 95, 95),rgb(102, 102, 102)x 3px 0 rgb(126, 126, 126);
      filter: blur(2px);
    }
    4%, 49% {  
        text-shadow: none; transform: none; 
        filter: blur(0px);
    }
    50%, 51% {
        text-shadow: 2px -3px 0 rgb(89, 89, 89), -2px 3px 0 rgb(135, 135, 135);
        transform: translate(var(--glitch-translate));
        filter: blur(2px);
    }

    51%, 100% {
        text-shadow: none; transform: none; 
        filter: blur(0px);
    }
  }


/* .wait_text {
    animation: switchfont 1s infinite;
} */

.wait_text span {
    display: inline-block;
    animation: switchfont 6s infinite;
    font-size: 4rem;
    display: inline-block;
    vertical-align: middle;
}

@keyframes switchfont {
    0%, 55% {
        font-size: 4rem;
        font-family: 'GlitchCode';
        filter: blur(0px);
    }

    56%, 75% { 
        font-size: 4rem;
    
        font-family: 'Glitching';
        filter: blur(0px);
    }

    76%, 100% {
        filter: blur(1px);
        font-size: 4rem;
    }
}